<h2>Magicians</h2>

<ul class="magicians">
  <li *ngFor="let item of array">
      <span class="badge">{{item.house}}</span>
      {{item.name}}
  </li>
</ul>

<button mat-button color="primary" (click)="sortByLastName()">Sort by last name</button>
<button mat-button color="primary" (click)="sortByName()">Sort by Name</button>


<div id="search-component">
  <label for="search-box">Magician Search</label>
  <button (Click)="sortHouse()" >Sort By House</button>
  <ul class="search-result">
    <li *ngFor="let item of magician$ | async" >
      <a>
        {{item.name}}
      </a>
    </li>
  </ul>
</div>